.item-l{
    height: auto;
    width: auto;
    margin-bottom: 10px;
    background-image: none;
    background-position: left;
}

.item-l img{
    display: block;
}

.pic-list li{
    display: inline-block;
    list-style-type: none;
    margin-bottom: 10px;
  }

.pic-list li:last-child{
    margin-bottom: 0;
}

.pic-list li img{
    max-width: 100%;
}

.pic-info{
    height: auto;
    margin: 20px 100px 20px 100px;
}

@media only screen and (max-width: 600px) {
   .pic-info{
    margin: 20px 0 20px 0;
   }
}