.item-l{
    height: 480px;
    width: 100%;
    background-image: url("../pic/Ducknest.jpg");
    float: left;
    margin-bottom: 10px;
}

.sec-ltext{
    width: 40%;
}

@media only screen and (max-width: 861px){
    .sec-hleft,
    .sec-ltext{
        color: black;
    }
}

@media only screen and (max-width: 800px){
    .item-l{
        height: 660px;
        background-position: 80% 100%;
    }

    .sec-hleft,
    .sec-ltext{
        color: #b6b6b6;
    }

    .sec-ltext{
        width: 80%;
    }
}